<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided grid">
            <div class="six wide column">
                <h4 class="ui inverted header">Subscribe !</h4>
                <div class="ui clearing divider"></div>
                <small>Subscribe to the mailing list and get the latest updates in your mailbox.</small><br><br>
                <div class="ui action input">
                  <input type="text" placeholder="Email" style="width: 100%;">
                  <button class="ui mini button" type="submit">Subscribe</button>
                </div>
            </div>
            
            <div class="six wide column footer-icons">
                <h4 class="ui inverted header">Connect to me through Social Networks !</h4>
                <div class="ui clearing divider"></div>
                <small>Get socially conneted on social networks and be updated.</small><br>
                <a target="_blank" href="https://www.linkedin.com/in/astikanand" class="ui mini linkedin button"><i class="linkedin icon"></i>LinkedIn</a>
                <a target="_blank" href="https://github.com/astikanand" class="ui mini github button"> <i class="github icon"></i>GitHub</a>
                <a target="_blank" href="https://stackoverflow.com/users/6794568/astik-anand" class="ui mini stackoverflow button"><i class="stack overflow icon"></i>StackOverflow</a>
                <a target="_blank" href="https://www.facebook.com/astikanand1" class="ui mini facebook button"><i class="facebook icon"></i>Facebook</a>
                <a target="_blank" href="https://www.twitter.com/astikanand" class="ui mini twitter button"><i class="twitter icon"></i>Twitter</a>
                <a target="_blank" href="https://www.instagram.com/astik.anand" class="ui mini instagram button"><i class="instagram icon"></i>Instagram</a>
            </div>

            <div class="four wide column">
                <h4 class="ui inverted header">Contact Me !</h4>
                <div class="ui clearing divider"></div>
                <small>You can reach me using below contact details.</small>
                <div class="ui inverted link list" style="margin-top: 0;">
                    <li><small><i class="marker icon"></i>Bangalore, Karnataka, India</small></li>
                    <li><small><i class="phone icon"></i>+91-9037489697</small></li>
                    <li><small><i class="whatsapp icon"></i>+91-9037489697</small></li>
                    <li><small><i class="mail icon"></i><a>astikanand@gmail.com</a></small></li>
                </div>
            </div>
        </div>
    </div>

    <div class="ui center aligned container">
        <div class="ui inverted section divider"></div>
        <small>
            <a class="logo">astik.me </a> &copy; 2020.  Few Rights Reserved. </p>
        </small>
    </div>
</div>
