<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title | default: site.title | default: site.github.repository_name }} - Astik Anand</title>
{% seo %}

<link rel="shortcut icon" href="https://astikanand.github.io/assets/logos/logo.ico" type="image/x-icon" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{'assets/css/theme.css' | absolute_url}}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
<link rel="stylesheet" href="{{'assets/css/custom.css' | absolute_url}}">
