---
---

@import "jekyll-theme-primer";

.markdown-body h1 {
    padding-bottom: .3em;
    font-size: 2.2em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}
.markdown-body h2 {
    padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
    color: rgb(255, 47, 146);
    margin-top: 1.75em;
}
.markdown-body h3 {
    font-size: 1.5em;
    line-height: 1.43;
    color: rgb(148, 55, 255);
    margin-top: 1.5em;
}
.markdown-body h4 {
    font-size: 1.25em;
    color: rgb(146, 144, 0);
    margin-top: 1.25em;
}
.markdown-body h5 {
    font-size: 1em;
    color: rgb(0, 144, 81);
    margin-top: 1em;
}

.markdown-body h6 {
    font-size: 1em;
    color: rgb(0, 84, 147) !important;
    margin-top: 0.8em;
}

blockquote {
    margin-bottom: 10px !important ;
    padding: 5px 10px !important;
    background-color: #FFF8DC !important;
    border-left: 4px solid #ffeb8e !important;
}

img {
    width: 35%;
}

img, code, .md-fences, blockquote {
    margin-left: 0em !important;
}

code {
    background-color: lightgray;
}

html {
    font-size: 14px;
}

.markdown-body {
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}


body, .markdown-body {
    font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #474747;
    line-height: 1.6;
}

.markdown-body li > p {
    margin-top: 5px;
}

.markdown-body li + li {
    margin-top: 2px;
}

.markdown-body p{
    margin-top: 0;
    margin-bottom: 7px;
}


a {
    color: #4183C4;
    text-decoration: underline;
}

li>ol,
li>ul {
    margin: 0 0;
}
hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

li p.first {
    display: inline-block;
}
ul,
ol {
    padding-left: 30px;
}
ul:first-child,
ol:first-child {
    margin-top: 0;
}
ul:last-child,
ol:last-child {
    margin-bottom: 0;
}
