<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
        {%  include headers.html %}
    </head>

    <body>
        {% include navbar.html %}

        <div class="splash" >
            <div class="main-heading">
                {% include breadcrumb.html %}
            </div>
        </div>

        <div class="ui container main-container">
            <div class="container-lg px-3 my-5 markdown-body">
                {{content}}
                <h2>Sections</h2>
                <div class="ui special link two stackable cards">
                    {% for section in site.data.sections %}
                        <div class="ui raised card">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a class="ui inverted button" href="{{section['link']}}">Go to {{section['title']}} </a>
                                        </div>
                                    </div>
                                </div>
                                <img src="{{section['img']}}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include footer.html %}
        
        {% include js_scripts_other.html %}

        {% include google_analytics.html %}
    </body>
</html>
